<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <div class="course-logo">
        <a href="/" > <span> STAT 215A </span></a>
      </div>
      <p class="lead">Fall 2020 - Bin Yu</p>
    </div>
    <nav class="sidebar-nav">

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}
      {% assign pages_list = site.data.side_links.links %}
      {% for node in pages_list %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.name }}</a>
      {% endfor %}
    </nav>

  </div>
</div>
